:root {
  --font-color: #000;
  --details-color: rgb(237, 100, 54);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  color: #000;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 15;
}

.main__title {
  font-size: 70%;
  padding: 15px;
}

.span__subtitle {
  padding: 1rem;
  font-size: 2em;
}

img {
  border-radius: 20%;
  padding: 1.2rem;
}

.section__imagen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__button-view {
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  border: none;
  height: 40px;
  border-radius: 0 1.2rem 1.2rem 1.2rem;
  background-color: var(--details-color);
  color: white;
  font-size: 0.7 rem;
  padding: 0.5rem 1rem;
}
